#action{
	font-size: 44px;
	margin-top: 100px;
}

#time{
	font-size: 44px;
	margin-top: 100px;
}


 .button-parent{
 	 margin-top: 145px;
 }

.button{
	position: absolute;
 	left:40%;	
	width:200px;

 text-decoration:none; 
 text-align:center; 
 padding:11px 43px; 
 border:solid 1px #edf4f7; 
 -webkit-border-radius:25px;
 -moz-border-radius:25px; 
 border-radius: 25px; 
 font:17px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#3092bf; 
 background:#ffffff; 
 -webkit-box-shadow:0px 0px 2px #dedede, inset 0px 0px 1px #fafbff; 
 -moz-box-shadow: 0px 0px 2px #dedede,  inset 0px 0px 1px #fafbff;  
 box-shadow:0px 0px 2px #dedede, inset 0px 0px 1px #fafbff;  
 opacity:0.73; 
 text-shadow: 1px 1px 0px #f7f7f7; 
 filter: dropshadow(color=#f7f7f7, offx=1, offy=1);
 }

.button:link{
	text-decoration:none;
}

.button:visited{
	text-decoration:none;
}

.button:hover{
	text-decoration:none; 
}

.button-animation{}

